.comment {
  box-sizing: border-box;
  padding: 0 0 25px;
  border-bottom: 1px solid var(--colorUISecondary);
  margin-bottom: 25px;
}

.comment:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

.comment_deleted {
  color: var(--colorTextTertiary);
}

@media screen and (max-width: 767px) {
  .comment {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.comment__header {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .comment__header {
    margin-bottom: 20px;
  }
}

.comment__author {
  margin: 0 15px 0 0;
  font-weight: 500;
  color: var(--colorTextSecondary);
}

.comment__publication-date {
  color: var(--colorTextTertiary);
  margin: 0;
}

.comment__text {
  font-size: 16px;
  line-height: 1.2;
  word-wrap: break-word;
}

.comment__text_deleted {
  color: var(--colorTextTertiary);
  margin: 0;
}

.comment__text p {
  margin: 20px 0 0;
  word-wrap: break-word;
}

.comment__text a {
  text-decoration: none;
  color: var(--colorTextSecondary);
  word-wrap: break-word;
  transition: 0.3s ease;
}

.comment__text a:hover {
  color: var(--colorTextPrimary);
}

@media screen and (max-width: 767px) {
  .comment__text p {
    margin-top: 15px;
  }
}

.comment__children {
  box-sizing: border-box;
  padding-left: 15px;
  margin: 25px 0 0 10px;
  border-left: 1px solid var(--colorUISecondary);
}

.comment__children .comment {
  border: none;
  margin-bottom: 0;
}
