.header {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid var(--colorUISecondary);
}

.header__title {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: var(--colorTextSecondary);
  margin: 0 auto;
}
