.news-card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  padding: 15px 25px 40px 10px;
  background-color: var(--backgroundCard);
  border-radius: 16px;
  box-shadow: 0 0 4px rgba(231, 232, 235, 0.4), 0 4px 16px rgba(231, 232, 235, 0.4);
  transition: 0.3s ease;
}

.news-card:hover {
  box-shadow: 0 0 4px rgba(231, 232, 235, 1), 0 4px 16px rgba(231, 232, 235, 1);
}

@media screen and (max-width: 767px) {
  .news-card {
    flex-direction: column;
  }
}

.news-card__heading {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.news-card__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: fit-content;
  min-width: 45px;
  text-align: center;
  color: var(--colorTextPrimary);
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  margin: 0 15px 0 0;
}

.news-card__score::before {
  content: '\2605';
  display: block;
  color: var(--colorUISecondary);
  width: 24px;
  height: 24px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .news-card__score {
    flex-direction: row;
    font-size: 18px;
  }

  .news-card__score::before {
    width: 18px;
    height: 18px;
  }
}

.news-card__score_positive {
  color: var(--colorTextSecondary);
}

@media screen and (max-width: 767px) {
  .news-card__score {
    width: fit-content;
    text-align: left;
    margin-bottom: 10px;
  }
}

.news-card__title {
  width: fit-content;
  font-size: 24px;
  line-height: 1.17;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .news-card__title {
    font-size: 20px;
  }
}

.news-card__header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 1.2;
}

.news-card__author {
  font-weight: 500;
  margin: 0 15px 0 0;
}

.news-card__publication-date {
  color: var(--colorTextTertiary);
  margin: 0;
}

.news-card__link {
  text-decoration: none;
  color: var(--colorTextPrimary);
  transition: 0.3s ease;
}

.news-card__link:hover {
  color: var(--colorLinkHover);
}

.news-card__arrow {
  display: inline-block;
  opacity: 0;
  color: var(--colorTextSecondary);
  transition: 0.3s ease;
}

.news-card__link:hover .news-card__arrow {
  transform: translateX(10px);
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .news-card__arrow {
    opacity: 1;
  }
}
