.news-detail-block {
  box-sizing: border-box;
  padding: 30px 0;
}

.news-detail-block__publication-date {
  font-size: 16px;
  line-height: 1.2;
  color: var(--colorTextTertiary);
  margin: 0 0 30px;
}

@media screen and (max-width: 767px) {
  .news-detail-block__publication-date {
    font-size: 13px;
  }
}

.news-detail-block__author {
  font-size: 18px;
  line-height: 1.2;
  margin: 0 15px 15px 0;
}

@media screen and (max-width: 767px) {
  .news-detail-block__author {
    font-size: 16px;
  }
}

.news-detail-block__title {
  width: 90%;
  font-size: 50px;
  line-height: 1.1;
  text-align: center;
  font-weight: bold;
  margin: 0 auto 40px;
}

@media screen and (max-width: 767px) {
  .news-detail-block__title {
    width: 100%;
    font-size: 26px;
    line-height: 1.1;
  }
}

.news-detail-block__text {
  font-size: 22px;
  line-height: 1.2;
  margin: 0 auto 50px;
  word-wrap: break-word;
}

.news-detail-block__text p {
  margin: 30px 0 0;
  word-wrap: break-word;
}

.news-detail-block__text a {
  text-decoration: none;
  color: var(--colorTextSecondary);
  word-wrap: break-word;
  transition: 0.3s ease;
}

.news-detail-block__text a:hover {
  color: var(--colorTextPrimary);
}

@media screen and (max-width: 767px) {
  .news-detail-block__text {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .news-detail-block__text p {
    margin-top: 20px;
  }
}

.news-detail-block__accent {
  font-weight: 500;
}

.news-detail-block__link {
  text-decoration: none;
  color: var(--colorTextSecondary);
  word-wrap: break-word;
  transition: 0.3s ease;
}

.news-detail-block__link:hover {
  color: var(--colorTextPrimary);
}

.news-detail-block__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}

.news-detail-block__comments-count {
  width: fit-content;
  display: flex;
  align-items: center;
}

.news-detail-block__comment-icon {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .news-detail-block__comment-icon {
    width: 30px;
    height: 30px;
  }
}
