@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.body {
  margin: 0;
  font-family: 'Roboto', 'Ubuntu', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #fcfcfc;
  --backgroundCard: #fff;
  --colorUIPrimary: #ff6600;
  --colorUISecondary: #e6e7eb;
  --colorTextPrimary: #212329;
  --colorTextSecondary: #ff6600;
  --colorTextTertiary: #757575;
  --colorLinkHover: #ff6600;

  background-color: var(--background);
  color: var(--colorTextPrimary);
}
